nav {
  max-width: 300px;
  margin: 0 auto;

  ul {
    list-style: none;
    text-decoration: none;

    li {
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.5;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
